# Backend (FastAPI)
fastapi
uvicorn
pydantic

# ML & Data
numpy
pandas
scikit-learn
scipy
joblib
xgboost

# Frontend (Streamlit)
streamlit
plotly
requests

# MLOps
mlflow
dagshub
dvc

# Testing
pytest
httpx==0.23.3
python-dotenv